@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: url("clock.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

.main {
  background:#f5deb3;
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
}

.badge {
  width: 96px;
  background:#bc8f8f ;
  color: black;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 40%;
}

.clock {
  background: #ffefd5;
  text-align: center;
  font-size: 50px;
  height: 100px;
  padding-top: 20px;
  font-family: Orbitron;
  border-radius: 4px;
}
